#customize-controls .control-section-advance-blogging .accordion-section-title:hover,
#customize-controls .control-section-advance-blogging .accordion-section-title:focus {
	background-color: #fff;
}

.control-section-advance-blogging .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
}

.rtl .control-section-advance-blogging .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}

input#_customize-input-advance_blogging_content_spacing{
	display: none;
}
li#customize-control-advance_blogging_button_padding{
	margin: 0;
}
li#customize-control-advance_blogging_slider_top_spacing,
li#customize-control-advance_blogging_slider_bottom_spacing,
li#customize-control-advance_blogging_slider_left_spacing,
li#customize-control-advance_blogging_slider_right_spacing {
    width: 20%;
    clear: none;
    margin-right: 10px;
}

li#customize-control-advance_blogging_related_product,
li#customize-control-advance_blogging_woocommerce_button_border_radius,
li#customize-control-advance_blogging_woocommerce_product_box_shadow,
li#customize-control-advance_blogging_back_to_top_alignment,
li#customize-control-advance_blogging_footer_widget_layout,
li#customize-control-advance_blogging_404_button_text {
  border-bottom: 1px solid #b2b1b1;
  padding-bottom: 10px;
}